.DS_Store
node_modules/
npm-debug.log
yarn-error.log
build/
dist/
.env
*.swp
*.swo
*.env
*.env.*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
coverage/
.nyc_output/
*.log
*.db
*.sqlite
*.sqlite3
*.pem
*.crt
*.key
*.pfx
*.p12