```
# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# React
build/
.DS_Store
.env
.env.*

# Docker
Dockerfile
.dockerignore

# Database
*.sql
*.sqlite
*.sqlite3

# OS
.DS_Store

# Editor
.vscode/
.idea/
```